{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="provider_login_sec">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titleBoxArea text-center">
						<button onclick="history.back();" class="backBtn"><i class="fa fa-arrow-left"></i></button>
						<h4 class="defaultHead">FORGOT PASSWORD</h4>
					  </div>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="provider_registeration_form VERIFICATION-CODE">
						<div class="provider_registeration patient_regist_form">
						<form method="post" action="">
                            {%  csrf_token %}
						<div class="form-group">
                              <div class="col-sm12 col-md-12 col-lg-12">
                                  <label class="col-form-label float-left">Email Address</label>
                                  <input type="text" required="" id="user_email" name="user_email">
								  {% if found == 1 %}
                                  <p style="color: red; font-weight: 400" >If the email address is in our system<br>you will receive an email to reset your password</p>
								  <!--<a href="{{ link }}" style="text-decoration: none;">{{ link }}</a>-->
								  {% endif %}
								  <div class="create_account_button my-0">
									  <button type="submit">SUBMIT</button>
								  </div>
                              </div>
                          </div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    
    {% endblock content %}