{% extends "backend/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    .gap-15 {
        gap: 15px;
    }
</style>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                         <button  style=" margin-top: -2px; margin-bottom: 10px !important;" type="button" class="btn btn-primary mb-2 backbtn" onclick="javascript:history.back()" id="btn_search"><i class="fa fa-angle-left"
                                        aria-hidden="true"></i>Back</button>
                        <div class="page-title">
                            <h1>Add Coupon Package</h1>
                               {% if messages %}
                                {% for message in messages %}
                                    <div style="color:white;font-width: bold;" class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /# column -->

                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="dashboard-wrapper">
                <div id="w0" class="grid-view">

                    <div class="row col-sm-12">

                        <form method="post" action="/payments/create_product/">
                            {% csrf_token %}
                            <div class="form-row align-items-center">
                                <div class="col-md-12">
                                    <div class="form-group w-100">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" name="title"
                                                value="">
                                    </div>
                                    <div class="form-group w-100">
                                        <label for="code">Code:</label>
                                        <input type="text" class="form-control" name="code"
                                                value="">
                                    </div>

<!--                                    <div class="form-group w-100" >-->
<!--                                        <label for="trial_period">Trial Period:</label>-->
<!--                                         <input type="number" class="form-control" name="trial_period" id="trial_period" min="1" required>-->
<!--                                    </div>-->

                                    <div class="form-group w-100">
                                        <label for="price">Price:</label>
                                        <input type="number" class="form-control" name="price" id="price" min="0" step="0.01" required>
                                    </div>
<!--                                    <div class="form-group w-100" >-->
<!--                                        <label for="expires">Expires:</label>-->
<!--                                        <input type="date" class="form-control" name="expires" id="expires" required>-->
<!--                                    </div>-->

                                    <div class="form-group w-100">
                                        <label for="type">Subscription Type:</label>
                                        <div class="row">
                                            <div class="col">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="monthly" name="type" class="custom-control-input" value="monthly" checked>
                                                    <label class="custom-control-label" for="monthly">Monthly</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="yearly" name="type" class="custom-control-input" value="yearly">
                                                    <label class="custom-control-label" for="yearly">Yearly</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group w-100" >
                                        <label for="Description">Description:</label>
                                        <textarea rows="5"  class="form-control" name="description"></textarea>
                                    </div>

                                </div>
                                <div class="col-sm-1">
                                    <br>
                                    <input type="submit" class="btn btn-primary mb-2" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script>

    $(document).ready(function (){
        $("body").delegate("a.viewPatient","click",function (e) {
            e.preventDefault();
            $("#confirmUser").modal('show');
            $(".emailinput").val("");
            $(".passinput").val("");
            $(".providerVerification").attr('data-id',$(this).data('id'));

        });
        $("body").delegate("button.providerVerification","click",function (e) {
            e.preventDefault();
            var email = $(".emailinput").val();
            var pass = $(".passinput").val();
            var user_id = $(this).data("id");
            if(!email || !pass){
               $("div.error").html("All fields are required!");
                $("div.error").show();
            }else{
              $("div.error").hide();
               const endpoint = '/backend/admin_verify/';
               $.ajax({
                    method: 'POST',
                    data: {"email": email,"pass": pass,'user_id':user_id},
                    url: endpoint,
                    success: function (response_data) {
                        console.log(response_data)
                        var response_data = response_data;
                        if(response_data.status){
                           $("div.error").html("<span style='color:green !important;'>Login Successfully</span>");
                            $("div.error").show();
                            setTimeout(function (){
                                window.location.href = response_data.url
                            },2000);
                        }else{
                            $("div.error").html("Wrong credentials");
                              $("div.error").show();
                        }

                    }
                });
            }
          //  $("#confirmUser").modal('show');
            //$(".providerVerification").attr('data-id',$(this).data('id'));

        });
    });



    function loadModel(id) {
        $("#pid").val(id);
        $("#myModal").modal('show');

    }

    function del_p() {
        var id = $("#pid").val();
        window.location.href = "/delete_patient/" + id + "/current_active_patient";
    }


</script>

<script>
    $(document).ready(function() {
        // Intercept the form submission
        $('form').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Serialize form data
            var formData = $(this).serialize();

            // Make AJAX request to the API endpoint
            $.ajax({
                type: 'POST',
                url: '/payments/coupons/',
                data: formData,
                success: function(response) {
                    // Handle success response
                    console.log(response);
                    // Optionally, redirect to another page or show a success message
                    window.location.href = '/backend/all_packages_coupon/';
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.log(xhr.responseText);
                    // Optionally, display an error message to the user
                }
            });
        });
    });
</script>

{% endblock %}