{% extends "backend/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Providers</h1>
                               {% if messages %}
                                {% for message in messages %}
                                    <div style="color:white;font-width: bold;" class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /# column -->

                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="dashboard-wrapper">
                <div id="w0" class="grid-view">

                    <div class="row col-sm-12">

                        <form method="post" action="/backend/providers/">
                            {% csrf_token %}
                            <div class="form-row align-items-center">
                                <!--<div class="col-sm-3" >
                                    <label for="date_to">Date From</label>

                                    <input type="date" class="form-control" name="date_from" id="date_from"
                                           placeholder="Date From" value="{{ date_from }}">
                                </div>

                                <div class="col-sm-3" >
                                    <label for="date_to">Date To</label>
                                    <input type="date" class="form-control" name="date_to" id="date_to"
                                           placeholder="Date To" value="{{ date_to }}">
                                </div>-->
                                <div class="col-sm-9">
                                    <label for="mysearch">Name / Email / Referral ID </label>
                                    <input type="text" class="form-control" id="mysearch" name="mysearch"
                                           placeholder="Search"
                                           value="{{ mysearch }}">
                                </div>
                                <div class="col-sm-1">
                                    <br>
                                    <input type="submit" class="btn btn-primary mb-2" value="Search">
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="modal fade" id="myModal" role="dialog" style="">
                        <div class="modal-dialog modal-sm">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title">This action is not reversable! Are you sure you want to
                                        proceed?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="btn-group col-md-12">
                                        <button type="button" class="btn btn-primary btn-lg col-sm-6"
                                                onclick="del_p();">Yes
                                        </button>
                                        <input type="hidden" id="pid">
                                        <button type="button" class="btn btn-lg col-sm-6" data-dismiss="modal">No
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>

                            </div>

                        </div>
                    </div>
                    <table class="table table-striped table-bordered" id="table_rows">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Referral ID</th>
                            <th scope="col">Practice Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date</th>
{#                            <th scope="col">Time</th>#}
{#                            <th scope="col">report</th>#}
                            <th scope="col">Total Patients</th>
                            <th scope="col">View</th>
{#                            <th scope="col">Delete</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for current_user in all_current_active_patients %}

                        <tr class="tr">
                            <td>{{ current_user.first_name }}</td>
                            <td>{{ current_user.last_name }}</td>
                            <td>{{current_user.provider_ref}}</td>
                            <td>{{current_user.practice_name}}</td>
                            <td>{{ current_user.email }}</td>
                            <td>{{ current_user.date }}</td>
                            <td><a href="/backend/dashboardofprovider/{{current_user.id}}">{{ current_user.total_patients }}</a></td>
                             <td><a href="/payments/subscription_detail/{{current_user.id}}">Subscription</a></td>
{#                            <td>{{ current_user.time }}</td>#}
                          {% comment %}  <td><a href="cogni_patient_report.php?email=cognistone1@yopmail.com" title="View"
                                   aria-label="View" data-pjax="0"><i class="fa fa-file" aria-hidden="true"></i></a>
                            </td>{% endcomment %}
                            <td><a class="viewPatient" href="/backend/provider_detail/{{ current_user.id }}"
                                   title="View" aria-label="View" data-pjax="0" data-id="{{ current_user.id }}" ><i class="fa fa-eye"
                                                                                   aria-hidden="true"></i></a></td>
{#                            <td><a id="cognistone1@yopmail.com" onclick="loadModel({{ current_user.patient_user_id }});"#}
{#                                   title="Delete"#}
{#                                   aria-label="Delete" data-pjax="0"#}
{#                                   data-confirm="Are you sure you want to delete this item?" data-method="post"><i#}
{#                                    class="fa fa-trash" aria-hidden="true"></i></a></td>#}

                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>


                    {% if all_current_active_patients.has_other_pages %}
                    <ul class="pagination">
                        {% if all_current_active_patients.has_previous %}
                        <li><a href="?page={{ all_current_active_patients.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in all_current_active_patients.paginator.page_range %}
                        {% if all_current_active_patients.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if all_current_active_patients.has_next %}
                        <li><a href="?page={{ all_current_active_patients.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</div>

   <div class="modal fade" id="confirmUser" role="dialog" style="">
                        <div class="modal-dialog modal-md">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Providers Credentials Verification</h5>
                                    <button type="button" class="close" data-dismiss="modal">×</button>

                                </div>
                                <div class="modal-body">
                                    <div class="btn-group col-md-12">
                                     <div class="provider_registeration" style="width: 100%; ">

        <div id="div_id_email" class="form-group"> <label for="id_email" class="col-form-label  requiredField">
                Email<span class="asteriskField">*</span> </label> <div class=""> <input type="email" name="email" class="emailinput form-control" required="" id="id_email"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="col-form-label  requiredField">
                Password<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="password" class="passinput textInput form-control" required="" id="id_password"> </div> </div>
                                         
                                <div class="create_account_button" align="center">
                                 <div class="error" style="display: none;color: red;">All fields are required!</div>
                                    <button type="button" class="btn btn-md btn-primary col-sm-6 providerVerification" data-id="" >Verify
                                        </button>
                                </div>

                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
{% endblock %}


{% block javascript %}

<script>

    $(document).ready(function (){
        $("body").delegate("a.viewPatient","click",function (e) {
            e.preventDefault();
            $("#confirmUser").modal('show');
            $(".emailinput").val("");
            $(".passinput").val("");
            $(".providerVerification").attr('data-id',$(this).data('id'));

        });
        $("body").delegate("button.providerVerification","click",function (e) {
            e.preventDefault();
            var email = $(".emailinput").val();
            var pass = $(".passinput").val();
            var user_id = $(this).data("id");
            if(!email || !pass){
               $("div.error").html("All fields are required!");
                $("div.error").show();
            }else{
              $("div.error").hide();
               const endpoint = '/backend/providers_verify/';
               $.ajax({
                    method: 'POST',
                    data: {"email": email,"pass": pass,'user_id':user_id},
                    url: endpoint,
                    success: function (response_data) {
                        console.log(response_data)
                        var response_data = response_data;
                        if(response_data.status){
                           $("div.error").html("<span style='color:green !important;'>Login Successfully</span>");
                            $("div.error").show();
                            setTimeout(function (){
                                window.location.href = response_data.url
                            },2000);
                        }else{
                            $("div.error").html("Wrong credentials");
                              $("div.error").show();
                        }

                    }
                });
            }
          //  $("#confirmUser").modal('show');
            //$(".providerVerification").attr('data-id',$(this).data('id'));

        });
    });



    function loadModel(id) {
        $("#pid").val(id);
        $("#myModal").modal('show');

    }

    function del_p() {
        var id = $("#pid").val();
        window.location.href = "/delete_patient/" + id + "/current_active_patient";
    }


</script>

{% endblock %}