{% extends 'base.html' %}

{% block content %}
{% load static %}

     <section class="contact_us">
        <div class="container">
            <h2 class="text-center defaultHead">About Us</h2>
            <div class="row">
                <div class="col-12 col-lg-12">
                        <p>CogniSleep is a special system that treats insomnia by guiding the patient, with the help of a medical provider, through a guided series of 6 sessions. It addresses sleeplessness on various emotional and physical levels using Cognitive Behavioral Therapy, or CBT-I.</p>
                        <p>Dr. Dacelin St. Martin, board-certified sleep medicine doctor, created CogniSleep to help the millions of patients across the US who are plagued with insomnia and sleeping pill addiction.
                            CBT-I is based on empirical data and science, designed to address the root causes of sleeplessness: behavior, psychology, and the science of sleep. It offers a comprehensive and therapeutic approach that gives patients the power to overcome chronic sleeplessness period.</p>
<p>Patients now have a lifelong solution to help them combat the effects of insomnia. CogniSleep is the answer that millions of insomniacs have been searching for to achieve the restorative sleep they need for a healthy and happy life.
                        </p>
                    


                </div>
                <div class="col-md-12 bg-mobile-about">
                    <center><img width="583"  src="{% static "assets/images/doctor.png" %}" class="attachment-large size-large wp-post-image" alt="" ></center>
                    <p>Dr. Cogni (and his trusted sheep) will partner with you and your physician to guide you through the 6-week CogniSleep program.
Each week has a dedicated session that addresses a specific area of sleeplessness. He will be with you on your sleep journey, from the time you sign up for the program to completion.
Dr. Cogni will provide you with guidance, tips, and lots of encouragement. You’re not alone in your battle to beat insomnia.</p>


                </div>

            </div>

        </div>
     </section>

{%  endblock %}