{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    img {
        max-width: 100%;
    }
</style>

<section class="consumers_sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="consumers_outer">
                    <div class="consumers_page_heading">

                        <h2 class="defaultHead text-center">Patients</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-sec mb-5" style="background-image: url('/static/assets/images/Insomnia-Lady-Watching-Clock.jpeg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">


                <h2 class="text-center defaultHead">Retrain your brain to sleep</h2>
                <p class="text-left">CogniSleep is based on a scientifically proven method called Cognitive Behavioral Therapy for Insomnia or CBT-I. It’s an approach recommended by the American College of Physicians to help combat and treat chronic insomnia. Insomnia can be a stubborn symptom of various conditions, which is why we partner with your provider, or one of our dedicated sleep providers, to give you the relief you need. Take the steps you need to peacefully sleep through the night and wake up refreshed. You can overcome your sleeplessness and we’re here to help you.
                </p>
            </div>

        </div>

    </div>
</section>
<section class="consumers_sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <img src="{% static "assets/images/p2.jpeg" %}"/>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="green-txt">
                    <h2 class="text-center defaultHead"></h2>
                    <p>Six weeks is all you need to reprogram your mind for sleep. Each week you take part in a 10-minute virtual session, delivered on-demand, which carefully guides you through the program so that you can reclaim control over your
                        sleep through.</p>
                        <ul class="icons-with-text">
                            <li>
                                <img src="{% static 'assets/images/icons/icon-1.png' %}">
                                <p>Cognitive Therapy</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icons/icon-2.png' %}">
                                <p>Stimulus Control</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icons/icon-3.png' %}">
                                <p>Sleep Restriction Therapy</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icons/icon-4.png' %}">
                                <p>Remaining Passively Awake</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icons/icon-5.png' %}">
                                <p>Sleep Hygiene</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/images/icons/icon-6.png' %}">
                                <p>Relaxation</p>
                            </li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
   <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5">
            <img src="{% static "assets/images/p3.jpeg" %}"/>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="green-txt">
                <h2 class="text-center defaultHead">Your Treatment Plan</h2>
                <p>You’re not alone on your journey of sleep. You, a provider, and our avatar Dr. Cogni, will help you break the vicious cycle of insomnia. Each morning, you will be asked to take a few minutes to fill in a sleep diary, including when you go to bed and when you wake up. You will gain the knowledge and skills you need to drastically improve your sleep and quality of life.


                </p>
            </div>
        </div>
    </div>
   </div>
</section>
<br>
<!--<section class="consumers_sec3">
    <div class="container">
        <div class="row">
            <div class="consumer-bot-img">
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="get-started-bg" style="background-image: url({% static "assets/images/get-started-bg.jpg" %});">
                        <h4>Get Started Now</h4>
                        <ul>
                            <li><a href="/pricing/8/">8 Weeks Subscription</a></li>
                            <li><a href="/pricing/12/">12 Weeks Subscription</a></li>
                            <li><a href="/pricing/15/">15 Weeks Subscription</a></li>
                        </ul>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</section>-->

{% endblock %}