{% extends "base_login.html" %}
{% load static %}

{% block content %}
    <style>
        .downloadFields select {
            width: 235px;
            margin-bottom: 15px;
            font-size: 13px;
        }

        .downloadFields label {
            font-weight: 600;
            font-size: 13px;
            margin-bottom: 5px;
            text-transform: capitalize;
        }
        
    .f-12 {
        font-size: 14px;
    }
        #eye {
            position: absolute;
            top: 58px;
            right: 20px;
            font-size: 24px;
            color: #999999;
            width: 45px;
        }
        .viewsleepdiary table th {
    padding: 10px 4px !important;
    font-size: 14px !important;
    font-weight: 600;
}

section.forward_sec {
    padding: 20px 0;
}

.table-sleepreport_new .bg-light-blue {
    background-color: #e1f4fd !important;
}

.table-sleepreport_new .bg-dark-blue {
    background-color: #aae1fa !important;
}

.table-sleepreport_new .bg-light-yellow {
    background-color: #fffac2 !important;
}

.table-sleepreport_new .bg-light-pink {
    background-color: #f8e4db !important;
}

.table-sleepreport_new tr > td:nth-child(15) {
    font-weight: 900;
}

#eye {
            position: absolute;
            top: 58px;
            right: 20px;
            font-size: 24px;
            color: #999999;
            width: 45px;
        }

        ul.nav.nav-tabs {
        float: unset;
        flex-wrap: nowrap;
    }

        #detailss a .content-val {
            width: 100%;
        }

        ul.nav.nav-tabs li a {
            padding: 10px 15px !important;
            font-size: 12px;
        }

        p.mainTitle {
    font-size: 13px;
    position: absolute;
    left: 5px;
    right: 0;
    text-align: center;
    top: -60px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin: 0 20px;
}

.bg-yellow {
    background-color: yellow;
}

.bg-yellow span.lastPrescribedTime {
    font-weight: 600;
}

.bg-blue span.lastPrescribedTime, .bg-green span.previewWeekSE, .bg-greaish span.previewWeekSE {
    font-weight: 600;
    color: #fff;
}


.bg-blue {
    background-color: #230c9a;
}

.bg-green {
    background-color: #55b321;
}

.table-sleepreport_new tbody tr td.border-right {
    border-right: 1px solid #000 !important;
}

.manual-time {
    gap: 5px;
}

.manual-time .tooltipp {
    position: absolute;
    bottom: calc(100% + 5px);
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
    width: 110%;
    left: 50%;
    transform: translateX(-50%);
}


.border-blue {
    border-color: #2d2d82;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-radius: 0;
    outline: none;
}

.border-yellow {
    border-color: #ffff00;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-radius: 0;
    outline: none;
}

.gap-15 {
    gap: 15px;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

@media(max-width: 799px) {
.conditions-modal-cont {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

ul.nav.nav-tabs li a {
    padding: 10px 10px !important;
    font-size: 12px !important;
    text-align: center;
}

}

@media(min-width: 970px) {
            .pd-40 {
            padding: 0 30px;
        }
        .layout-fixed {
            table-layout: fixed;
        }

        .viewsleepdiary .weeks ul li {
    width: 16.6%;
    margin-bottom: 10px;
}

.viewsleepdiary .weeks ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

}
    .backBtn {

    left: 0;
    background-color: #00a115;
    border: none;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    z-index: 999;
    top: 20px;
}

.backBtn:hover {
    background-color: #79ce4a;
}


.week-div {
      display: none;
    }

.table-sleepreport_new {
    display: block;
}


.notes {
    background-attachment: local;
    background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(#2d2d82, white 2px, white 30px, white 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    border: none;
    margin-top: 30px;
}

textarea {
    width: 100%;
}

.week-div h2 {
    font-size: 24px !important;
    font-weight: 700;
}

.week_header {
    display: none;
}


.dateBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateBox p {
    margin-bottom: 0;
}

.dateBox p span, .pinfo p span {
    color: #929797;
    padding-left: 5px;
}

.week_header {
    border-bottom: 3px solid #2d2d82;
    margin-bottom: 25px;
}

.pinfo p {
    margin-bottom: 0;
}

.week-div li {
    font-size: 17px;
    line-height: 30px;
}


.printButton {
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media print {
header, footer, .forward_sec, .printButton {
    display: none;
}
    .printData {
        display: block;
    }
}

.moreOption .dropdown-menu {
    left: -67px !important;
}
a#selectWeek::after {
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 11px;
    position: relative;
    left: 8px;
    top: -2px;
}
    </style>



    <section class="forward_sec">
        <div class="container-fluid pd-40">
            <div class="position-relative">
    <button onclick="history.back();" class="backBtn" fdprocessedid="v0vk4"><i class="fa fa-arrow-left"></i></button>
</div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="">Patient Sleep Information</h3>
                </div>
                <!-- <div class="bold_heading"><h2 class="text-center">Provider Dashboard</h2></div> -->
                <ul class="nav nav-tabs justify-content-center">

                     <li id="view_sleep_diary" class="active" style=""><a class="tablinks" href="/dashboard/patient/view-diary/0/{{patient}}/">Sleep Report</a>
                    </li>
                    {% if request.user.package != 3 %}
                    <li id="progress" class="" style=""><a class="tablinks" href="/dashboard/progress/{{patient}}">Patient Progress</a>
                    </li>
                    {% endif %}
                      <li id="dash" class="" style=""><a class="tablinks"  href="/dashboard/accountdetails/{{patient}}/">Account Details</a>
                    </li>
                    {% if show %}
                    <li id="dash" class="" style=""><a class="tablinks"  href="/questions/view_ciq/{{patient}}/">View Ciq Report</a>
                    </li>
                    {% endif %}



                </ul>


                <div id="responsivez" class="viewsleepdiary tabcontent" style="display:block;">
                    <div class="col-sm-12 col-md-12 col-lg-12">

<div class="row">

    <div class="col-xs-12 col-md-12"><nav class="weeks">
                        <ul>

                            {% for x in weekDays_array %}
                                {% if x.x == week  %}
                                <li class="activeWeek" style=" !important;width: calc(100% / );">
                                    <a   class="getWeekData" href="javascript:void(0)" data-week="{{ x.x }}"  >
                                        <button  id="weeks_id_1" >
                                        {{ x.x }} Week

                                    </button></a>
                                </li>
                                {% else %}

                             <li  style="width: calc(100% / );background-color: rgb(32, 11, 148); ">
                                    <a class="getWeekData" href="javascript:void(0)" data-week="{{ x.x }}">
                                        <button id="weeks_id_1" >
                                        {{ x.x }} Week
                                    </button></a>
                                </li>


                                {% endif %}

                            {% endfor %}

                        </ul>
                    </nav>

    </div>
    <div class="col-xs-12 col-md-12 conditions-modal-cont">
<!--        <div class="col-md-3 pl-md-0"><h3 class="h5">Patient Sleep Information</h3></div>-->
        <div class="col-md-7 mb-4">
            <ul class="mt-5 nav nav-tabs">
                    <li id="detailss" style="">
                    <a class="bg-green">
                        <div class="content-val"><span class="tooltipp">Previous week's sleep efficiency</span>
                        <span class="previewWeekSE" id="sleepefficiency">{{ efficiency.0.sleep_efficieny }}%</span></div>
                    </a>
                        <!-- {{ avgsleep }} -->
                    </li>
                  <span class="d-flex position-relative mr-2">
                       <p class="mainTitle">Sleep Restriction</p>
                        <li id="detailss" style="">
                        <a class="bg-blue">
                            <div class="content-val"><span class="tooltipp">Prescribed Bedtime</span><span class="lastPrescribedTime" id="bedtime">{{ efficiency.0.prescribe_bedtime }}</span></div>
                        </a>
                        </li>
                        <li id="detailss" style="">
                        <a class="bg-yellow">
                            <div class="content-val"><span class="tooltipp">Suggested Wake Up</span><span class="lastPrescribedTime" id="suggtime">{{ efficiency.0.sugg_wake_up }}</span></div>
                        </a>
                        </li>
                   </span>

                    <span class="d-flex position-relative manual-time">
                       <p class="mainTitle">Manually Adjust Sleep Restriction</p>
                        <li id="details" class="position-relative">
                            <span class="tooltipp">Prescribed Bedtime</span>
                            <input type="time" class="w-100 border-blue" id="upd_prestime">
                        </li>
                        <li id="detailss" class="position-relative">
                            <span class="tooltipp">Suggested Wake Up</span>
                            <input type="time" class="w-100 border-yellow" id="upd_suggtime">
                        </li>


                        <input type="submit" class="btn btn-success w-auto f-12" onclick="updatetime()" value="Update">

                   </span>
                </ul>
        </div>

        <div class="col-md-5 text-md-right pr-md-0">
             <!-- Button trigger modal -->
           <div class="align-items-end d-flex gap-15 justify-content-start pr-1">

                <div class="weekDta">
                    <label style="display: flex;">Patient Handout</label>
                      <select id="week-select" class="form-control" onchange="showWeekDiv(this.value)">
                        <option value="">Select Week</option>
                        <option value="1">Week 1</option>
                        <option value="2">Week 2</option>
                        <option value="3">Week 3</option>
                        <option value="4">Week 4</option>
                        <option value="5">Week 5</option>
                        <option value="6">Week 6</option>
                      </select>
                </div>



                <div class="dropdown show">
                    <a href="javascript: void();" class="btn border" style="/* color: #2d2d82; */" role="button" id="selectWeek">
                       Download Weekly Sleep Report
                    </a>

                    <div class="dropdown-menu" id="weekData">
                        <div class="week-select p-3">
                            <form method="POST" action="/dashboard/report/">
                                {% csrf_token %}
<!--                                <input type="hidden" name="csrfmiddlewaretoken" value="lBmhuyRKk6cFQ9e4iRbqi4oEDCNXhDtg2Pg7XxplDS23yD1tWreekWAdlJGxFG1M">-->
                            <h3 class="text-center h5 font-weight-bold">Select Weeks:</h3>
                            <div class="downloadFields">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>From Week:</label>
                                        <select class="form-control weekStart" name="start_week">
                                            <option>Select Week...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label>To Week:</label>
                                        <select class="form-control weekEnd" name="end_week">
                                            <option>Select Week...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="pid" value="{{patient}}">
                                    <div class="col-md-12 text-center">
                                        <button class="fullMode btn bg-blue text-white">
                                            Download
                                        </button>
                                    </div>
                                </div>
                            </div>
                                </form>
                        </div>
                    </div>
                  </div><div class="moreOption">
<div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Action</button>
  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
    <a class="text-decoration-underline dropdown-item" style="color: #2d2d82;" href="/dashboard/acknowledge_report/{{patient}}">Download Consent Report</a>
      {% if show %}
      <a style="color:#2d2d82;" id="ciq" href="#" class="text-decoration-underline dropdown-item">Download Ciq Report</a>
        {% endif %}
<!--      <a href="javascript: void();" class="text-decoration-underline dropdown-item" style="color: #2d2d82;" data-toggle="modal" data-target="#conditionsLegend"> Condition Legend </a>-->


  </div>
</div>
</div>



            </div>
                <!-- Modal -->
                <div class="modal " id="conditionsLegend" tabindex="-1" role="dialog" aria-labelledby="conditionsLegendLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="conditionsLegendLabel">Condition Legend  </h3> </div>
                            <div class="modal-body pt-3">
                                <div class="container">
                                    <div class="row">
                                     <div class="col-sm-12 col-lg-4">
                                            <ol>
                                                <li>
                                                    <h3><b>Sleep Onset Insomnia</b> <span> (Problem Falling Asleep)</span></h3>
                                                    <ol type="a">
                                                        <li>Psychological insomnia</li>
                                                        <li>Anxiety</li>
                                                        <li>Restless Legs syndrome</li>
                                                        <li>Periodic limb movements in sleep</li>
                                                        <li>Obstructive Sleep Apnea</li>
                                                        <li>Delayed phase sleep</li>
                                                        <li>CHF</li>
                                                        <li>Bad sleep habits
                                                            <ol type="1">
                                                                <li>Electronics</li>
                                                                <li>Caffeine</li>
                                                                <li>Alcohol</li>
                                                                <li>Smoking</li>
                                                                <li>Abnormal sleep schedule</li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <ol type="1" start="2">
                                                <li>
                                                    <h3><b>Maintenance insomnia</b> <span> (Awake During Night)</span></h3>
                                                    <ol type="a">
                                                        <li> Physical causes
                                                            <ol type="1">
                                                                <li>Pain</li>
                                                                <li>Respiratory problems like asthma/COPD</li>
                                                                <li>Digestive problems like GERD, IBS, gassiness</li>
                                                                <li>Hormonal issues like hot flushes (menopause)</li>
                                                                <li>Neurologic disorder like Parkinson, dementia</li>
                                                                <li>Dysuria</li>
                                                            </ol>
                                                        </li>
                                                        <li>Psychological causes
                                                            <ol type="a">
                                                                <li>PTSD</li>
                                                                <li>Bipolar disorder</li>
                                                                <li>Depression</li>
                                                                <li>Schizophrenia</li>
                                                            </ol>
                                                        </li>
                                                        <li>Bad sleep habits
                                                            <ol type="a">
                                                                <li>Electronics</li>
                                                                <li>Caffeine</li>
                                                                <li>Alcohol</li>
                                                                <li>Smoking</li>
                                                                <li>Abnormal sleep schedule</li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <ol type="1" start="3">
                                                <li>
                                                    <h3><b>Early morning insomnia</b> <span> (Awake Too Early & Delayed Getting Up)</span></h3>
                                                    <ol type="a">
                                                        <li>Anxiety/Depression</li>
                                                        <li>Sleep apnea</li>
                                                        <li>Aging</li>
                                                        <li>Circadian rhythm disturbances (Advanced Sleep phase disorder)</li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
    <div class="table-responsive table-sleepreport_new">
                    <table class="table layout-fixed">
                        <thead>
                            <tr>
                                <th colspan="1"></th>
                                <th colspan="3" class="bg-light-blue"><span>Falling Asleep</span></th>
                                <th colspan="2" class="bg-dark-blue"><span>Middle Of Night Sleep</span></th>
                                <th colspan="4" class="bg-light-yellow"><span>Morning Wake Up Process</span></th>
                                <th colspan="2" class="bg-light-pink"><span>Middle Of Day Naps</span></th>
                                <th colspan="3"><span>Results</span></th>
                                <th colspan="5"><span>Triggers (Minutes Awake)</span></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <td>Day</td>
                                <td class="bg-light-blue">Time Went To Bed</td>
                                <td class="bg-light-blue">Lights Out</td>
                                <td class="bg-light-blue">Minutes To Fall Asleep</td>
                                <td class="bg-dark-blue">How Many Times You Woke Up</td>
                                <td class="bg-dark-blue">Awake During The Night</td>
                                <td class="bg-light-yellow">Time You Woke Up</td>
                                <td class="bg-light-yellow">Minutes Fell Back To Sleep</td>
                                <td class="bg-light-yellow">Got Up From Bed</td>
                                <td class="bg-light-yellow">Desired Wake Up Time</td>
                                <td class="bg-light-pink">No. Of Naps</td>
                                <td class="bg-light-pink">Total Time Napping In Minutes</td>
                                <td>Time In Bed</td>
                                <td>Time Asleep</td>
                                <td class="font-weight-800">Sleep Effcy %</td>
                                <td>Problem Falling Asleep</td>
                                <td>Awake During Night</td>
                                <td>Awake Too Early</td>
                                <td>Delayed Getting Up</td>
                                <td>Overslept</td>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for week in user_sleep_diarys %}
                            <tr>

                            </tr>
                           {% endfor %}


                        </tbody>
                    </table>
                </div>

    </div>


    </div>


                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>

    </section>

    <section class="printData">
        <div class="container">
            
    <div class="row">
    <div class="col-md-12 m-auto">
     <div class="week_header">
         <div class="justify-content-between row align-items-center">
             <div class="col-md-7">
                <div class="dateBox">

                    <p class="font-weight-bold">Provider Name: <span class="proName">{{user_name}}</span></p>
                    <p class="font-weight-bold">Contact No: <span class="contactNo">{{contact}}</span></p>
                </div>
                <div class="pinfo">
                    <p class="font-weight-bold">Patient Name: <span class="patName">{{userinfo.first_name}} {{userinfo.last_name}}</span></p>
                    <p class="font-weight-bold">Date: <span class="date">{{date}}</span></p>
                </div>
             </div>
             <div class="col-md-4">
                 <img src="{% static "assets/images/logo-1.svg" %}" data-original="{% static "assets/images/logo-1.svg" %}" data-fixed="{% static "assets/images/logo-1.svg" %}" class="w-100" alt="">
             </div>
         </div>
     </div>
    <div id="week1-div" class="week-div">
    <h2 class="h3">Cogni Sleep Session 1 Review</h2>
    <ol>
        <li>Sleeping pills only help you fall asleep 10 minutes faster, stop working after 3 months, and can cause dangerous side effects.</li>
        <li>Anytime you think you are lying in bed for more than 20 minutes, get up and do something else until you are drowsy.</li>
        <li>Fill out your CogniSleep Diary each morning. This includes what time you went to bed, when you fell asleep, how much time you spent awake while in bed, and what time you got up.</li>
        <li>Remember to use your bed only for sleep and sexual activity.</li>
        <li>Turn your clock away from you so you can't watch it while you're lying in bed.</li>
        <li>Limit electronic use while in bed.</li>
    </ol>
    <div class="providerNotes">
        <h4 class="head-blue">Provider Notes: </h4>
        <textarea id="proverder_1" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="providerNotes">
        <h4 class="head-blue">Patient Notes: </h4>
        <textarea id="patient_1" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="printButton text-center mb-4">
        <a href="/dashboard/downloadhandbooks/{{patient}}/1/" class="btn btn-success d-none downBtn">Download</a>
        <button type="button" onclick="window.print();" class="btn btn-success">Print</button>
         <button type="button" class="btn btn-success d-none printBtn" onclick="postWeekEntry(1)">Submit</button>
    </div>
  </div>

  <div id="week2-div" class="week-div">
    <h2 class="h3">Cogni Sleep Session 2 Review</h2>
    <ol>
        <li>Sleep restrictions may seem difficult at first, but after the first few nights, you will have gathered up some exhaustion coins, and things will start to improve</li>
        <li>If you are struggling with negative thoughts, remember to replace them with their positive alternative.</li>
        <li>If your negative thoughts are persistent, lock them away in your Negative Thoughts Lockbox located on your dashboard.</li>
    </ol>

      <div class="providerNotes">
        <h4 class="head-blue">Provider Notes: </h4>
        <textarea id="proverder_2" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="providerNotes">
        <h4 class="head-blue">Patient Notes: </h4>
        <textarea id="patient_2" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>

    <div class="printButton text-center mb-4">
        <a href="/dashboard/downloadhandbooks/{{patient}}/2/" class="btn btn-success d-none downBtn">Download</a>
        <button type="button" onclick="window.print();" class="btn btn-success">Print</button>
         <button type="button" class="btn btn-success d-none printBtn" onclick="postWeekEntry(2)">Submit</button>
    </div>

  </div>

  <div id="week3-div" class="week-div">
    <h2 class="h3">Cogni Sleep Session 3 Review</h2>
    <ol>
        <li>Keep filling out your sleep diary every day in its entirety. That information is vital to help determine how well we’re doing toward achieving your goals.</li>
        <li>Keep up with your sleep restrictions, even though they might be challenging. The longer you stick with them, the easier they’ll become.</li>
        <li>Battle negative thoughts with positive ones.</li>
        <li>If you are having a hard time staying awake, review session 2.</li>
        <li>All directions from Session 1 still apply:
            <ul>
                <li>Remember to use your bed only for sleep and sexual activity</li>
                <li>Keep that clock turned away so that you can’t see it when you’re lying in bed.</li>
                <li>Please continue going to another room and doing a quiet activity until you are drowsy if you’ve been awake in bed for what you perceive to be 20 minutes or more. With that, I’ve asked you to avoid “trying” to sleep and let things happen naturally.</li>
                <li>Keep battling your negative sleep thoughts by replacing them with positive ones. Be aggressive in taking away their power.</li>
                <li>If you’re having trouble staying awake, review the ways to stay awake until bedtime that we discussed in this session.</li>
            </ul>
        </li>
        <li>You’ve made it half-way through our lessons! Keep up the good work!</li>
    </ol>
    <div class="providerNotes">
        <h4 class="head-blue">Provider Notes: </h4>
        <textarea id="proverder_3" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="providerNotes">
        <h4 class="head-blue">Patient Notes: </h4>
        <textarea id="patient_3" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>

    <div class="printButton text-center mb-4">
        <a href="/dashboard/downloadhandbooks/{{patient}}/3/" class="btn btn-success d-none downBtn">Download</a>
        <button type="button" onclick="window.print();" class="btn btn-success">Print</button>
         <button type="button" class="btn btn-success d-none printBtn" onclick="postWeekEntry(3)">Submit</button>
    </div>
  </div>

  <div id="week4-div" class="week-div">
    <h2 class="h3">Cogni Sleep Session 4 Review</h2>
    <ol>
        <li>We have discussed keeping your negative thoughts in check.</li>
        <li>You have learned to keep track of your sleep data to master better sleep.</li>
        <li>You have learned the importance of maintaining a healthy sleep environment.</li>
        <li>You have learned good bedtime rituals that include but are not limited to:
            <ul>
                <li>Comfortable Environment.</li>
                <li>Temp 60-68 degrees Fahrenheit.</li>
                <li>Block light and noise.</li>
                <li>Eat light snack.</li>
                <li>Limit fluids.</li>
            </ul>
        </li>
    </ol>
    <div class="providerNotes">
        <h4 class="head-blue">Provider Notes: </h4>
        <textarea id="proverder_4" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="providerNotes">
        <h4 class="head-blue">Patient Notes: </h4>
        <textarea id="patient_4" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="printButton text-center mb-4">
        <a href="/dashboard/downloadhandbooks/{{patient}}/4/" class="btn btn-success d-none downBtn">Download</a>
        <button type="button" onclick="window.print();" class="btn btn-success">Print</button>
         <button type="button" class="btn btn-success d-none printBtn" onclick="postWeekEntry(4)">Submit</button>
    </div>
  </div>

  <div id="week5-div" class="week-div">
    <h2 class="h3">Cogni Sleep Session 5 Review</h2>
    <ol>
        <li>Remember your weekly sleep efficiency, prescribed bedtimes, and wake times are key to a successful sleep restructuring program</li>
        <li>Remember that these sleep restrictions are meant to be very helpful and are designed to get you sleeping better – if you follow them.</li>
        <li>Remember to deal with your negative thoughts SWIFTLY, whether they occur about your sleep or are a daytime nuisance.</li>
        <li>You can replace them with their positive alternative; you can write them down and visualize locking them up for the night; or you can tell them “No” every time one pops into your head and put up a mental wall so they can’t get the power over you they want.</li>
    </ol>
    <div class="providerNotes">
        <h4 class="head-blue">Provider Notes: </h4>
        <textarea id="proverder_5" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="providerNotes">
        <h4 class="head-blue">Patient Notes: </h4>
        <textarea id="patient_5" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="printButton text-center mb-4">
        <a href="/dashboard/downloadhandbooks/{{patient}}/5/" class="btn btn-success d-none downBtn">Download</a>
        <button type="button" onclick="window.print();" class="btn btn-success">Print</button>
         <button type="button" class="btn btn-success d-none printBtn" onclick="postWeekEntry(5)">Submit</button>
    </div>
  </div>

  <div id="week6-div" class="week-div">
    <h2 class="h3">Cogni Sleep Session 6 Review</h2>
    <ol>
        <li>A quick reminder about Sleep efficiency: for every week your average sleep efficiency is over 90 percent, you can add 15 minutes to your prescribed bedtime. You can also do so if your sleep efficiency is consistently above 85 % and you are feeling rested.</li>
        <li>If your weekly average sleep efficiency drops to 85 percent or below, I’d like you to move your bedtime back by 15 minutes.</li>
        <li>If you average a sleep efficiency of 85 percent or more for 4 consecutive weeks, it’s OK to have some “cheat nights” here and there, as long as it doesn’t make you feel more tired or cause your insomnia to get worse.</li>
        <li>If you’ve been sleeping well and feeling good for about 3 months, it might be OK to be less strict with the program requirements as long as it doesn’t result in any rebound insomnia.</li>
        <li>You’ve got to keep a tight grip on your worries and make sure they are not causing you the same problems as your negative thoughts. If you are a worrier, use some of the techniques we discussed to help take away the power of the worry and get your thinking centered on the positive.</li>
    </ol>
    <p>You have access to Dr. Cogni’s relaxation exercise in the main menu. Whether you choose to use this program, or another relaxation or mediation program, try to use one at least once a day, during the daytime at first, to help relieve daytime stress and worries. Once you get good at it, you can use it at night to help you fall asleep or go back to sleep if you wake up in the middle of the night. Happy sleeping! </p>
        <div class="providerNotes">
        <h4 class="head-blue">Provider Notes: </h4>
        <textarea id="proverder_6" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="providerNotes">
        <h4 class="head-blue">Patient Notes: </h4>
        <textarea id="patient_6" class="notes" wrap="hard" rows="5" style="width:100%; overflow:hidden; resize:none;"maxlength="590"></textarea>
    </div>
    <div class="printButton text-center mb-4">
        <a href="/dashboard/downloadhandbooks/{{patient}}/6/" class="btn btn-success d-none downBtn">Download</a>
        <button type="button" onclick="window.print();" class="btn btn-success">Print</button>
         <button type="button" class="btn btn-success d-none printBtn" onclick="postWeekEntry(6)">Submit</button>
    </div>
  </div>
    </div>
</div>

        </div>
    </section>


<script>


function showWeekDiv(selectedWeek) {
      // Hide all week divs
      var weekDivs = document.getElementsByClassName('week-div');
      for (var i = 0; i < weekDivs.length; i++) {
        weekDivs[i].style.display = 'none';
         document.querySelector('.table-sleepreport_new').style.display = 'block';
         document.querySelector('.week_header').style.display = 'none';
      }
      // Show the selected week div
      document.getElementById('week' + selectedWeek + '-div').style.display = 'block';
      document.querySelector('.table-sleepreport_new').style.display = 'none';
      document.querySelector('.week_header').style.display = 'block';
      //get data from api
      let patient_id = {{patient}};

      fetch(`{{base_url}}/dashboard/gethandbooks/${patient_id}/${selectedWeek}/`)
      .then(res => {
      return res.json();
    })
    .then(data => {
      console.log(data);
      console.log(data.provider_remark);
      console.log(data.patient_remark);
      jQuery(`#proverder_${selectedWeek}`).val(data.provider_remark);
      jQuery(`#patient_${selectedWeek}`).val(data.patient_remark);
      let providerRemarks = jQuery(`#proverder_${selectedWeek}`).val();
      if(providerRemarks == '') {
        jQuery(`#patient_${selectedWeek}`).parents('.week-div').find('.printBtn').removeClass('d-none');
      } else {
        jQuery(`#patient_${selectedWeek}`).parents('.week-div').find('.printBtn').addClass('d-none');
         jQuery(`#patient_${selectedWeek}`).parents('.week-div').find('.downBtn').removeClass('d-none');
      }
    })
    .catch(error => {
      console.log(error);
    });
    }


    function postWeekEntry(weekNo) {
     let patient_id = {{patient}};
     let providerRemark = jQuery(`#proverder_${weekNo}`).val();
     let patientRemark = jQuery(`#patient_${weekNo}`).val();
     const postWeekData = {
        'patient': patient_id,
        'week_number': weekNo,
        'provider_remark': providerRemark,
        'patient_remark': patientRemark
     }

      fetch(`{{base_url}}/dashboard/api/providerhandbooks/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(postWeekData)
    })
      .then(res => {
      return res.json();
    })
    .then(data => {
      console.log(data);
      alert('Entry Submitted');
      jQuery(`#patient_${weekNo}`).parents('.week-div').find('.printBtn').addClass('d-none');
      jQuery(`#patient_${weekNo}`).parents('.week-div').find('.downBtn').removeClass('d-none');
    })
    .catch(error => {
      console.log(error);
    });
    }



    jQuery(document).ready(function(){
    jQuery('.fullMode').click(function(){
    jQuery('#weekData').hide();
})

    setTimeout(function(){
                     jQuery('.activeWeek a').trigger('click');

                 },200);

         setTimeout(function(){
            jQuery('.reason-description').each(function() {
                    var reason = jQuery(this).text();
                    if(reason != '') {
                        jQuery(this).parents('tr').prev('tr').find('.reasonRow').show();
                    } else {
                            jQuery(this).parents('tr').prev('tr').find('.reasonRow').hide();
                        }
             });

                      jQuery('.valueFind').each(function(){
            var tdText = jQuery(this).text();
             tdText = parseFloat(tdText);
                if(tdText >= 20) {
                    jQuery(this).addClass('text-danger');
                }
                 });

                 jQuery('.valueFind1').each(function(){
                    var tdText = jQuery(this).text();
                     tdText = parseFloat(tdText);
                        if(tdText > 9.5 ) {
                            jQuery(this).addClass('text-danger');
                            }
                    });
                     jQuery('.valueFind1').each(function(){
                    var tdText = jQuery(this).text();
                     tdText = parseFloat(tdText);
                        if(tdText < 5.0 ) {
                            jQuery(this).addClass('text-danger');
                            }
                    });

                     jQuery('.reasonRow').click(function() {
            jQuery(this).parents('tr').next('.patientComment').toggleClass('show');
            });
         },1000)







    });

    jQuery('.getWeekData').click(function() {
          setTimeout(function() {
            jQuery('.valueFind').each(function(){
                var tdText = jQuery(this).text();
                 tdText = parseFloat(tdText);
                    if(tdText >= 20) {
                        jQuery(this).addClass('text-danger');
                        }
                });

                jQuery('.valueFind1').each(function(){
                    var tdText = jQuery(this).text();
                     tdText = parseFloat(tdText);
                        if(tdText > 9.5 ) {
                            jQuery(this).addClass('text-danger');
                            }
                    });
                     jQuery('.valueFind1').each(function(){
                    var tdText = jQuery(this).text();
                     tdText = parseFloat(tdText);
                        if(tdText < 5.0 ) {
                            jQuery(this).addClass('text-danger');
                            }
                    });

                jQuery('.reasonRow').click(function() {
                jQuery(this).parents('tr').next('.patientComment').toggleClass('show');
                });

                 jQuery('.reason-description').each(function() {
                        var reason = jQuery(this).text();
                        if(reason != '') {
                            jQuery(this).parents('tr').prev('tr').find('.reasonRow').show();
                        } else {
                            jQuery(this).parents('tr').prev('tr').find('.reasonRow').hide();
                        }
                 });

          }, 1000)
    });

    jQuery('a#selectWeek').click(function(){
        jQuery('#weekData').toggleClass('show');
    })
     $("#ciq").on('click', function() {
     window.location = "{{ base_url }}/questions/report/{{ patient }}";

});
</script>

{% endblock %}
{% block jqueryScript %}
{% include "dashboard-js-provider.html" %}
{% endblock %}

