{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="provider_login_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="provider_login_form">			
                    <h2 class="defaultHead mb-0 text-theme-primary">FAQ</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="accordion" class="accordion">
                    <div class="card mb-0">
                        <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne1" aria-expanded="true">
                                <a class="card-title">What is CogniSleep?</a>
                                <span></span>
                            </div>
                            <div id="collapseOne1" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                            <p>CogniSleep is a 6-week program designed to help you re-train your brain so you can sleep better. </p>
                            <p>It is based on Cognitive Behavioral Therapy for insomnia, which has been researched extensively and is more effective than sleeping pills.  </p>
                            <p>The strategies taught in CogniSleep give you the tools you need to beat insomnia once and for all. </p>
                            </div>
                            </div>
                            <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne2" aria-expanded="true">
                                <a class="card-title">What types of things will I be asked to do?</a>
                                <span></span>
                            </div>
                            <div id="collapseOne2" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                            <p>Every day when you wake up, you will be asked to take about 3 minutes to fill in an online sleep diary that lets us know how you’ve slept, and how your insomnia is keeping you awake. </p>
                            <p>Each week, you have access to a session with our physician-assisted avatar, Dr. Cogni, where you learn techniques to combat insomnia.  </p>
                            <p>You will then have a week to practice sleep techniques before you are introduced to new ones.
    By the end of the 6 weeks, you will have all the skills to beat insomnia and get the sleep you deserve.
                             </p>
                            </div>
                            </div>
                            <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne3" aria-expanded="true">
                                <a class="card-title">How Does CogniSleep Work?</a>
                                <span></span>
                            </div>
                            <div id="collapseOne3" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                            <p>CogniSleep is an active program, which means it will only be effective if you are willing to put in the time and effort. </p>
                            <p>The strategies are straightforward, and the techniques we teach are all relevant to your recovery.</p>
                            <p>Your cognitive and behavioral habits have led to poor sleep, and it takes a real commitment to change that. </p>
                            <p>Wouldn’t a lifetime of better sleep be worth a few weeks of challenge?</p>
                            </div>
                            </div>
                            <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne4" aria-expanded="true">
                                <a class="card-title">What if I Don’t Have Time for a 6-Week Program?</a>
                                <span></span>
                            </div>
                            <div id="collapseOne4" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                            <p>Good news – CogniSleep only requires about 30 minutes once per week for approximately 6 weeks to gain your freedom from insomnia and get you the sleep you deserve. </p>
                            <p>Dr. Cogni’s sessions are delivered on-demand, so you can look at them when it is most convenient for you. </p>
                            <p>Remember that it took you years, or even decades, to learn the strategies that aren’t working. We need time to re-train your brain to allow you to sleep better.</p>
                            </div>
                            </div>
                            <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne5" aria-expanded="true">
                                <a class="card-title">How is CogniSleep More Beneficial than Sleeping Pills? </a>
                                <span></span>
                            </div>
                            <div id="collapseOne5" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                                <p>Sleeping pills have numerous side effects, including impaired memory, daytime drowsiness, appetite changes, headaches, heartburn, shaking, stomach upset, and changes in testosterone and the menstrual cycle.<sup>[1]</sup></p>
                                <p>Sleeping pills can stop working as your body builds a tolerance to the medication, meaning you have to take more to get the same effect.<sup>[1]</sup></p>
                                <p>Worse yet, there's a rebound effect associated with sleeping pills, meaning when you cut back on your dosage, your sleeplessness can come back with a vengeance.<sup>[1]</sup></p>
                            </div>
                            </div>
                            <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne6" aria-expanded="true">
                                <a class="card-title">Is the Program Effective?</a>
                                <span></span>
                            </div>
                            <div id="collapseOne6" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                                <p>Based on Harvard Research studies, 80% of people report improved sleep after successfully completing a 6-week Cognitive Behavioral Therapy program, like CogniSleep.<sup>[2]</sup></p>
                            </div>
                            </div>
                            <div class="card-inner-part">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne7" aria-expanded="true">
                                <a class="card-title">How can I benefit the most from CogniSleep? </a>
                                <span></span>
                            </div>
                            <div id="collapseOne7" class="card-body collapsed in" data-parent="#accordion" aria-expanded="true">
                            <p>Cognisleep is designed so that the techniques you learn build on one another. It’s suggested that you complete the program as it is laid out and not pick and choose what you’d like to do for maximum effectiveness. </p>
                                <p>As much as we hope you enjoy Dr. Cogni’s interactions with you, the information he gives you is meant to be practiced and implemented into your daily routines.</p>
                            </div>
                            </div>
    
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            <strong><p>References</p></strong>
            <p style="font-size: 11pt; margin-bottom: 0px;
    line-height: 25px;">1. Insomnia: When sleeping pills don't work. Mental Help Insomnia When Sleeping Pills Dont Work Comments. (n.d.). Retrieved September 7, 2022, from https://www.mentalhelp.net/blogs/insomnia-when-sleeping-pills-don-t-work/</p>
            <p style="font-size: 11pt; margin-bottom: 0px;
    line-height: 25px;">2. Awake at 3 a.m.? strategies to help you to get back to sleep. Harvard Health. (2016, September 19). Retrieved September 7, 2022, from https://www.health.harvard.edu/sleep/awake-at-3-am-strategies-to-help-you-to-get-back-to-sleep</p>
        </div>

       <!-- <div class="consumer-bot-img bottom_faq_cont">
      <div class="ccol-sm-6 col-md-6 col-lg-6">
          <div class="get-started-bg" style="background: url({% static "/assets/images/get-started-bg.jpg" %});">
              <h4>3-MONTH SUBSCRIPTION</h4>
              <h2>$139.00</h2>
                <ul>
                    <li><a href="#">Purchase Now</a></li>
                </ul>
            </div>
        </div>
        <div class="ccol-sm-6 col-md-6 col-lg-6">
          <div class="convinced-bg">
             <li>
              <h4>6-MONTH SUBSCRIPTION</h4>
              <h2>$199.00</h2>
                </li>
                <ul>
                    <li><a href="#">Purchase Now</a></li>
                </ul></div>                </div>
        
        </div>-->
        </div>
    </div>
</section>

{% endblock %}