{%  load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" >
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>
        {{ title }}   </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static "assets/bootstrap/dist/css/bootstrap.min.css" %}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="{% static "assets/css/style.css" %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="{% static "assets/js/functions.js" %}"></script>


</head>
<body>

    {% block content %}

    {% endblock %}


</body>
</html>



