{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="consumers_sec">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
            <div class="consumers_outer">
                <div class="consumers_page_heading">
                    <h3 class="defaultHead">Let the CogniScience speak for itself</h3>
                    <p>Cognitive Behavioral Therapy for insomnia has been proven in multiple studies to be more effective than sleeping pills in treating insomnia.
                        Most Sleeping Pills increase sleep time by 20 to 30 minutes, with some only increasing sleep time by 10 minutes, and some not at all.<sup>[2] </sup>Sleeping Pills have also shown to lose efficacy over time, and have a risk of dependency.
                        <sup>[2]</sup>
</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section class="consumers_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="consumers_outer">
                <div class="consumers_page_heading">
                    <h3 class="defaultHead">Recommended Treatment for Insomnia from the American College of Physicians</h3>
                    <p>The American College of Physicians recommends that all adult patients receive cognitive behavioral therapy for insomnia (CBT-I) as the initial treatment for chronic insomnia disorder. Sleeping pills should not be the first line of defense against insomnia.
</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="consumers_sec last">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
             <div class="consumers_outer">
                <div class="consumers_page_heading">
                    <h3 class="defaultHead">About Cognitive Behavioral Therapy For Insomnia (CBT-I)</h3>
                    <p>Cognitive Behavioral Therapy for Insomnia (CBT-I) is a treatment for insomnia that is grounded in the science of behavior change, psychological theories, and the science of sleep. There is strong empirical evidence that CBT-I is effective. Recognition of CBT-I as the first-line treatment for chronic insomnia is based on how effective it is for treating Insomnia.<sup>[1]</sup> </p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>
<section class="bg-mobile-about pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="consumers_outer">
                    <h4 class="font-weight-bold"><p>References</p></h4>
                     <p style="font-size: 11pt; margin-bottom: 0px;
    line-height: 25px;">1. Mitchell, M. D., Gehrman, P., Perlis, M., & Umscheid, C. A. (2012). Comparative effectiveness of cognitive behavioral therapy for insomnia: a systematic review. BMC family practice, 13, 40. https://doi.org/10.1186/1471-2296-13-40
</p>
            <p style="font-size: 11pt; margin-bottom: 30px;
    line-height: 25px;">2. Carr, T. (n.d.). The problem with sleeping pills. Consumer Reports. Retrieved September 7, 2022, from https://www.consumerreports.org/drugs/the-problem-with-sleeping-pills/
</p>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="clearfix"></div>


{% endblock %}