{% extends "base.html" %}
{% load static %}

{% block content %}

     <section class="business_top text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="business_top_outer">
						<h3 class="defaultHead text-uppercase">Help your patients combat insomnia without using prescription drugs</h3>
						<p class="text-center">What’s your go-to treatment for patients experiencing insomnia?
</p>
<p>The quick-fix solution is to prescribe sleeping pills which are:</p>
							<div class="text-center">
								<ul class="icons-with-text type-2">
									<li>
										<img src="{% static 'assets/images/icons/p1.png' %}" />
										<p>Temporary</p>
									</li>
									<li>
										<img src="{% static 'assets/images/icons/p2.png' %}" />
										<p>Expensive</p>
									</li>
									<li>
										<img src="{% static 'assets/images/icons/p3.png' %}" />
										<p>Addictive</p>
									</li>
									<li>
										<img src="{% static 'assets/images/icons/p4.png' %}" />
										<p>Plagued with unhealthy side effects for your patient</p>
									</li>
								</ul>
							</div>
						<p class="text-center">CogniSleep is a 6-week program based on the Harvard Research Studies that show Cognitive Behavioral Therapy for insomnia is more effective than sleeping pills and is a lifelong solution for your patients.
	</p>
					</div>
				</div>
			</div>
		</div>
	</section>



    <section class="business_top bg-mobile-about text-center">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h2 class="defaultHead font-weight-bold">ABOUT DR. ST. MARTIN</h2>
					<p>CogniSleep was designed by a sleep-trained physician, who is also Board Certified in Internal Medicine and Pediatrics.</p>
					<p> Dr. Dacelin St. Martin was looking for a way to help his sleep-deprived patients without prescribing more medication, and CogniSleep was born. </p>
					
					<p>“As a board-certified physician in Sleep Medicine, it has been a point of frustration to see how many patients are prescribed sleeping pills. Research proves that CBT-I works. Once the patient realizes how much power they have over their insomnia, the rest will be history. Today I can tell you with confidence that my patients with insomnia are healthier and happier because they are sleeping better naturally, without sleeping pills.”</p> <p><b>Dr. Dacelin St. Martin, MD,</b><br>Board Certified in Sleep Medicine, Founder of CogniSleep, Founder of America </p>
				</div>

			</div>
		</div>
	</section>

    <section class="business_top text-center">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h2 class="defaultHead font-weight-bold">TAKE THE NEXT STEP FOR YOUR PATIENTS’ SLEEP HEALTH</h2>
                    <p>Our friendly and helpful staff is available to provide more information on CogniSleep for medical professionals and will be happy to answer any additional questions you may have. Please contact us via live chat, send us an email with a good time to get back with you, or give us a call at 1 (833) 346-2929 to discuss how we can work together to<br> help your patients!
</p>
				</div>

			</div>
			<div class="signUp">
							<a href="/accounts/provider_registration">Sign Up Today</a>
						</div>
		</div>
	</section>


{#	<section class="business_bottom">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-sm-12 col-md-6 col-lg-5">#}
{#					<div class="fadeInRight m-top-0">#}
{#					<span class="shape1"><img src="{% static "assets/images/shape1.png" %}" alt=""></span>#}
{#					<p>I Would Like More Information on CogniSleep for My Patients</p>#}
{#					<form>#}
{#						<input type="text" placeholder="Physician Name"/>#}
{#						<input type="email" placeholder="Email"/>#}
{#						<input type="tel" placeholder="Phone Number"/>#}
{#						<input type="tel" placeholder="Fax Number"/>#}
{#						<div class="create_account_button">#}
{#							<a class="" href="#">Submit</a>#}
{#						</div>#}
{#					</form>#}
{#					<span class="shape2"><img src="{% static "images/shape2.png" %}" alt=""></span>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-sm-12 col-md-6 col-lg-7">#}
{#					<div class="providerz-txt">#}
{#					<div class="business-txt">#}
{#					<h2>TAKE THE NEXT STEP FOR YOUR PATIENTS’ SLEEP HEALTH</h2>#}
{#					<p>Our friendly and helpful staff is available to provide more information on CogniSleep for medical professionals and will be happy to answer any additional questions you may have.#}
{#					   Please contact us via live chat, send us an email with a good time to get back with you, or give us a call at 1-800-###-####, to discuss how we can work together to help your patients!#}
{#					</p>#}
{#					</div>#}
{#					<div class="btn-box">#}
{#						<a href="#"><i class="fa fa-commenting" aria-hidden="true"></i>Live chat</a>#}
{#						<a href="mailto:info@cognisleep.com"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>#}
{#						<a href="tel:1 (123) 456-7890"><i class="fa fa-phone" aria-hidden="true"></i>Call Us</a>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			</div>#}
{#		</div>#}
{#	</section>#}

{% endblock %}