{% extends "base_login.html" %}
{% load static %}

{% block content %}
    <style>
        #eye {
            position: absolute;
            top: 58px;
            right: 20px;
            font-size: 24px;
            color: #999999;
            width: 45px;
        }

        ul.nav.nav-tabs {
        float: unset;
        flex-wrap: nowrap;
    }

        #detailss a .content-val {
            width: 100%;
        }

        ul.nav.nav-tabs li a {
            padding: 10px 15px !important;
            font-size: 12px;
        }

        p.mainTitle {
    font-size: 14px;
    position: absolute;
    left: 5px;
    right: 0;
    text-align: center;
    top: -60px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin: 0 20px;
}

.bg-yellow {
    background-color: yellow;
}

.bg-yellow span.lastPrescribedTime {
    font-weight: 600;
}

.bg-blue span.lastPrescribedTime, .bg-green span.previewWeekSE, .bg-greaish span.previewWeekSE {
    font-weight: 600;
    color: #fff;
}


.bg-blue {
    background-color: #230c9a;
}

.bg-green {
    background-color: #55b321;
}

.bg-greaish {
    background-color: #444342;
}

.pd-40 {
            padding: 0 30px;
        }

        .form-group {
    margin-bottom: 0;
}

input, button {
height: auto !important;
}


.audio-box{
padding-bottom: 15px;
}

.backBtn {

    left: 0;
    background-color: #00a115;
    border: none;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    z-index: 9999;
    top: 20px;
}

.backBtn:hover {
    background-color: #79ce4a;
}
.relax {
    display: none;
}
    </style>






    <section class="forward_sec">
        <div class="container-fluid pd-40">
          

            <div class="row">
                <!-- <div class="bold_heading"><h2 class="text-center">Provider Dashboard</h2></div> -->
                <div class="col-md-12 mb-3">
                    <div class="desktopTab d-md-block d-none m-auto">
                        <ul class="nav nav-tabs justify-content-center">

                {% if request.user.package != 3 %}
                        {% if ma %}

                            <li id="videos" class="" style=""><a class="tablinks" data-toggle="tab" href="#"
                                                         aria-expanded="false" onclick="{% if patient > 0 %} magoVideos({{patient}}); {% else %}magoVideos(0){% endif %}" >Videos</a></li>
                        {% else %}

                            <li id="videos" class="" style=""><a class="tablinks" data-toggle="tab" href="#"
                                                         aria-expanded="false" onclick="{% if patient > 0 %} goVideos({{patient}}); {% else %}goVideos(0){% endif %}">Videos</a></li>
                        {% endif %}
                    {% endif %}

                       {% if sleep_diary_entries not in rest_day %}
                        {% if ma %}
                    <li id="sleep_diary" class="" style=""><a class="tablinks" data-toggle="tab"
                                                                  href="javascript:void(0);"
                                                                  aria-expanded="false"
                                                                  onclick="{% if patient > 0 %} magoDiary({{patient}}); {% else %}magoDiary(0);{% endif %}">Sleep Diary Entries</a>
                        </li>
                        {% else %}
                        <li id="sleep_diary" class="" style=""><a class="tablinks" data-toggle="tab"
                                                                  href="javascript:void(0);"
                                                                  aria-expanded="false"
                                                                  onclick="{% if patient > 0 %} goDiary({{patient}}); {% else %}goDiary(0);{% endif %}">Sleep Diary Entries</a>
                        </li>
                        {% endif %}
                    {% endif %}
                            {% if ma %}
                    <li id="view_sleep_diary" class="view_sleep_diary" style=""><a class="tablinks" data-toggle="tab"
                                                                  href="javascript:void(0);"
                                                                  aria-expanded="false"
                                                                  onclick="{% if patient > 0 %} maviewDiary({{patient}}); {% else %}maviewDiary(0);{% endif %}">Sleep Data</a>
                        </li>
                            {% else %}
                          <li id="view_sleep_diary" class="view_sleep_diary" style=""><a class="tablinks" data-toggle="tab"
                                                                  href="javascript:void(0);"
                                                                  aria-expanded="false"
                                                                  onclick="{% if patient > 0 %} viewDiary({{patient}}); {% else %}viewDiary(0);{% endif %}">Sleep Data</a>
                        </li>
                        {% endif %}
                      {% if request.user.package != 3 %}
                        {% if ma %}
                    <li id="progress" class="" style=""><a class="tablinks" data-toggle="tab" href="#menu3"
                                                               aria-expanded="false"
                                                               onclick="{% if patient > 0 %} magoDashboardsub({{patient}}); {% else %}magoDashboardsub(0);{% endif %}">Your Progress</a>
                        </li>
                        {% else %}
                        <li id="progress" class="" style=""><a class="tablinks" data-toggle="tab" href="#menu3"
                                                               aria-expanded="false"
                                                               onclick="{% if patient > 0 %} goDashboardsub('progress',{{patient}}); {% else %}goDashboardsub('progress',0);{% endif %}">Your Progress</a>
                        </li>
                        {% endif %}
                        {% endif %}

                        </li>
                        {% if ma %}
                    <li id="dash" class="" style=""><a class="tablinks" href="/dashboard/ma-relaxation/{{patient}}"
                                                                 aria-expanded="true"
                                                                 onclick="openCity(event, 'responsivez0')">Relax</a>
                        </li>
                        {% else %}
                         <li id="dash" class="" style=""><a class="tablinks" href="/dashboard/relaxation"
                                                                 aria-expanded="true"
                                                                 onclick="openCity(event, 'responsivez0')">Relax</a>
                        </li>
                        {% endif %}
                            {% if ma %}
                    <li id="detailss" class="" style="">


                            <a class="bg-greaish tablinks" data-toggle="tab"
                            href="javascript:void(0);"
                            aria-expanded="false"
                            onclick="{% if patient > 0 %} magoNtl({{patient}}); {% else %}magoNtl(0);{% endif %}">
                                <div class="content-val"><span class="tooltipp">Negative Thought Lockbox <sup>TM</sup></span>

                            <span class="previewWeekSE"><i class="fa fa-lock" aria-hidden="true"></i> NTL</span></div>
                            </a>
                        </li>
                            {% else %}
                        <li id="detailss" class="" style="">


                            <a class="bg-greaish tablinks" data-toggle="tab"
                            href="javascript:void(0);"
                            aria-expanded="false"
                            onclick="{% if patient > 0 %} goNtl({{patient}}); {% else %}goNtl(0);{% endif %}">
                                <div class="content-val"><span class="tooltipp">Negative Thought Lockbox <sup>TM</sup></span>

                            <span class="previewWeekSE"><i class="fa fa-lock" aria-hidden="true"></i> NTL</span></div>
                            </a>
                        </li>
                    {% endif %}

                    {% if patient == 0 %}
{#                    <li id="cont" class="" style=""><a class="tablinks" data-toggle="tab" href="#menu4"#}
{#                                                       aria-expanded="false" onclick="goDashboardsub('contactus');">Contact#}
{#                        Us</a></li>#}
                    {% comment %}<li id="tuts" class="" style=""><a class="tablinks" data-toggle="tab" href="#menu5"
                                                       aria-expanded="false" onclick="goDashboardsub('tutorials');">Tutorials</a>
                    </li>{% endcomment %}
                     {% endif %}
                <!-- <li id="detailss" class="" style="">
                    <a>
                        <div class="content-val"><span >Previous week's sleep efficiency</span><span class="previewWeekSE">N/A</span></div>
                        <div class="content-val"><span>Prescribed Bedtime</span><span class="lastPrescribedTime">N/A</span></div>
                         <div class="content-val"><span>Wake-up Time</span><span class="lastWeekWakeupTime">N/A</span></div>
                    </a>
                    </li>-->
                    <li id="detailss" style="">
                    <a class="bg-green">
                        <div class="content-val"><span class="tooltipp">Previous week's sleep efficiency</span>
                        <span class="previewWeekSE">{{avgsleep}}%</span></div>
                    </a>
                    </li>
                   <span class="d-flex position-relative">
                       <p class="mainTitle">Sleep Restriction</p>
                        <li id="detailss" style="">
                        <a class="bg-blue">
                            <div class="content-val"><span class="tooltipp">Prescribed Bedtime</span><span class="lastPrescribedTime">{{avgbedtime}}</span></div>
                        </a>
                        </li>
                        <li id="detailss"  style="">
                        <a class="bg-yellow">
                            <div class="content-val"><span class="tooltipp">Suggested Wake Up</span><span class="lastPrescribedTime">{{sug_time}}</span></div>
                        </a>
                        </li>
                   </span>

                </ul>
                    </div>
                    
                    <div class="mobieTabs d-md-none m-auto">

                        <ul class="nav nav-tabs justify-content-center">
                            {% if patient == 0 %}
                    {#                    <li id="cont" class="" style=""><a class="tablinks" data-toggle="tab" href="#menu4"#}
                    {#                                                       aria-expanded="false" onclick="goDashboardsub('contactus');">Contact#}
                    {#                        Us</a></li>#}
                            {% comment %}<li id="tuts" class="" style=""><a class="tablinks" data-toggle="tab" href="#menu5"
                                                               aria-expanded="false" onclick="goDashboardsub('tutorials');">Tutorials</a>
                            </li>{% endcomment %}
                             {% endif %}
                        <!-- <li class="" style="">
                            <a>
                                <div class="content-val"><span >Previous week's sleep efficiency</span><span class="previewWeekSE">N/A</span></div>
                                <div class="content-val"><span>Prescribed Bedtime</span><span class="lastPrescribedTime">N/A</span></div>
                                 <div class="content-val"><span>Wake-up Time</span><span class="lastWeekWakeupTime">N/A</span></div>
                            </a>
                            </li>-->
                            <li class="" style="">
                            <a class="tabsColor">
                                <div class="content-val_mobile">
                                <span class="previewWeekSE">{{avgsleep}}%</span>
                                <span class="toolData">Previous week's sleep efficiency</span></div>
                            </a>
                            </li>
                            <li  style="">
                                <a class="tabsColor">
                                    <div class="content-val_mobile">
                                        <span class="lastPrescribedTime">{{avgbedtime}}</span>
                                        <span class="toolData">Prescribed Bedtime</span></div>
                                </a>
                                </li>
                                <li  style="">
                                <a class="tabsColor">
                                    <div class="content-val_mobile">
                                        <span class="lastPrescribedTime">{{sug_time}}</span>
                                        <span class="toolData">Suggested Wake Up</span>
                                    </div>
                                </a>
                                </li>
                    
                                <li class="ntlTabs" style="">
                                    <a class="tabsColor" data-toggle="tab"
                                    href="javascript:void(0);"
                                    aria-expanded="false"
                                    onclick="{% if patient > 0 %} goNtl({{patient}}); {% else %}goNtl(0);{% endif %}">
                                        <div class="content-val_mobile">
                                            <span class="previewWeekSE"><i class="fa fa-lock" aria-hidden="true"></i> NTL</span>
                                            <span class="toolData">Negative Thought Lockbox<sup>TM</sup></span>
                                        </div>
                                    </a>
                                </li>
                    
                        </ul>
                    </div>
                </div>


              <div class="col-md-12">
                <div class="dashboard_form dashboard2 tabcontent" id="responsivez0">
                    <div class="titleBoxArea position-relative d-md-none">
                        <button onclick="history.back();" class="backBtn"><i class="fa fa-arrow-left"></i></button>
                        <h3 class="sleep-rep_patient">Welcome to the <span class="d-block inherit">Dr. Cogni Relaxation Exercise</span></h3>
                    </div>
                    <div class="audio-section text-center">
                        <h1 class="mb-0 mt-2 h3 text-align-center d-none d-md-block">Welcome to the Dr. Cogni Relaxation Exercise</h1>
                    <p class="text-align-center">Find a calm, space and select the exercise you need to relax.</p>

                        <div class="col-3 m-auto pb-4 relaxSelect">
                            <select class="form-control relaxAudio">
                                <option value="1">To Fall Asleep</option>
                                <option value="2">To Relax</option>
                            </select>
                        </div>
                    <div class="audio-box sleep">

                        <h6 class=" text-align-center">To fall asleep</h6>


                        <audio controls controlsList="nodownload noplaybackrate">
                          <source src="/static/assets/images/Cogni Relax Exercise - Sleep Continue_mixdown-2023.mp3" type="audio/mp3">


                        </audio>

                    </div>
                         <div class="audio-box relax">

                               <h6 class=" text-align-center">To relax</h6>

                        <audio controls controlsList="nodownload noplaybackrate">
                          <source src="/static/assets/images/Cogni Relax Exercise_mixdown-2023.mp3" type="audio/mp3">
                        </audio>
                    </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
              </div>


        </div>
        </div>
        </div>
    <div class="d-flex gap-15 justify-content-right align-items-right float-left">
<!--                        <div class="buttonLink">-->
<!--                                      <a class="btn-primary btn text-white" href="/dashboard/" style="margin-top: 10px; background-color: #28a745; border-color: #28a745; margin-left: 30px;"><i class="fa fa-angle-double-left" style="font-size:48px;color:#ffff; text-alignment: center;"></i></a>-->

<!--                                  </div>-->
                            </div>
    </section>


{% endblock %}

{% block jqueryScript %}
<script>
    jQuery('.relaxAudio').change(function(){
    let audioValue = jQuery(this).val();
    if(audioValue == '1') {
        jQuery('.sleep').show();
        jQuery('.relax').hide();
    } else {
        jQuery('.sleep').hide();
        jQuery('.relax').show();
    }
});
</script>
{% include "dashboard-js.html" %}
{% endblock %}