
{% extends "base.html" %}

{% block content %}
<section class="forward_sec" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="forward_quest_outer">
                                <div class="{{ class_name }}" id="result_bar">
                                    <h4>{{ txt_insomnia_points }}</h2>
                                        <p> {{ txt_insomnia_msg }} </p>
                                </div>


                </div>
            </div>
        </div>
</section>

{%  endblock %}