
<style>
    @media only screen and (max-width: 600px) {
        .main {
            width: 320px !important;
        }

        .top-image {
            width: 100% !important;
        }

        .inside-footer {
            width: 320px !important;
        }

        table[class="contenttable"] {
            width: 320px !important;
            text-align: left !important;
        }

        td[class="force-col"] {
            display: block !important;
        }

        td[class="rm-col"] {
            display: none !important;
        }

        .mt {
            margin-top: 15px !important;
        }

        *[class].width300 {
            width: 255px !important;
        }

        *[class].block {
            display: block !important;
        }

        *[class].blockcol {
            display: none !important;
        }

        .emailButton {
            width: 100% !important;
        }

        .emailButton a {
            display: block !important;
            font-size: 18px !important;
        }
    }
</style>
<table class=" main contenttable" align="center"
    style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
    <tr>
        <td class="border"
            style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
            <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                    <td colspan="4" valign="top" class="image-section"
                        style="text-align:center;border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #230c9a;padding:15px">
                        <a href="">
                            <img class="top-image"
                                src="https://cognisleep.com/static/assets/images/logo-1.png"
                                style="line-height: 1;width: 307px; height: 96px;" alt="CogniSleep"></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="side title"
                        style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
                        <table
                            style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;"
                            width="600px">
                            <tr>
                                <td class="text"
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;padding-bottom:20px">
                                    <div class="mktEditable" id="main_text">
                                        <h2>Thank you for subscribing</h2>

                                        <p><b>Subscription</b>: {{ product.name }}</p>
                                         <p><b>Details</b>:You can view your patient's progress as they complete their daily sleep diaries and track their weekly progress.</p>
                                        <p>The CogniSleep Program will identify potential problems with your patient's sleep that you can discuss during your weekly visits.</p>
                                        <p>You can find your provider referral code and referral information under your dashboard's "Patient Information" tab.</p>
                                      <br>
                                        <p>Please print this page to provide to your patients to aid in their registration. If you require any assistance, please email us at <a href="support@cognisleep.com" >support@cognisleep.com</a>.</p>

                                        <p>Regards,<br />The CogniSleep Team</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
</table>



