{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>
        {{ title }}   </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static "assets/bootstrap/dist/css/bootstrap.min.css" %}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="{% static "assets/css/style.css" %}"/>
</head>
<body>


        <div class="container">
            <div class="row">

                <div class="text-center">
                    <h2>COGNISLEEP RESULT</h2>
                    <div class="forward_quest_outer">
                        <div class="{{ class_name }}" id="result_bar">
                            <h4>{{ txt_insomnia_points }}</h2>
                                <p> {{ txt_insomnia_msg }} </p>
                        </div>


                    </div>

                </div>
            </div>
        </div>


</body>
</html>